<div class="row mrg-bot-10">
										<div class="col-md-12">
											<div class="rating">
												<label>
													<input type="radio" name="stars" value="1" ng-model="reviewstars"/>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="2" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="3" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="4" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="5" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<button type="submit" ui-sref="form.interests" class="btn theme-btn">Submit your review</button>
										</div>
									</div>