<!-- ================ Start Page Title ======================= -->
<div ng-controller="schoolController as schoolctrl">
			<section class="title-transparent page-title" style="background:url(assets/img/title-bg.jpg);">
				<div class="container">
					<div class="title-content">
						<h1>Add School</h1>
						<div class="breadcrumbs">
							<a href="#">Home</a>
							<span class="gt3_breadcrumb_divider"></span>
							<span class="current">New School</span>
						</div>
					</div>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ================ End Page Title ======================= -->
			
			<!-- ================ Start Add School Section ======================= -->
			<section>
				<div class="container">
					<div class="col-md-10 col-sm-12 col-md-offset-1 mob-padd-0">
						<!-- General Information -->
                        <form method="post" ng-submit="schoolctrl.createSchool()">
						<div class="add-listing-box general-info mrg-bot-25 padd-bot-30 padd-top-25">
							<div class="listing-box-header">
								<i class="ti-files theme-cl"></i>
								<h3>General Information</h3>
								<p>Write something general information about your school</p>
								<p>*fields are mandatory</p>
							</div>
								<div class="row mrg-r-10 mrg-l-10">
									<div class="col-sm-6">
										<label>School Name*</label>
										<input type="text" class="form-control" required ng-model="schoolname">
									</div>
									
									<div class="col-sm-6">
										<label>Category*</label>
										<select data-placeholder="Choose Category" class="form-control chosen-select" tabindex="2" required ng-model="schoolcategory">
											<option disabled selected>Select</option>
                                            <option value="1">Primary</option>
                                            <option value="2">Secondary
                                            <option value="1">Polytechnic</option>
											<option value="2">University</option>
										</select>
									</div>

                                    <div class="col-sm-6">
                                        <label>CAC Number*</label>
                                        <input type="text" class="form-control" required ng-model="schoolcacnumber">
                                    </div>

									<div class="col-sm-6">
										<label>Website</label>
										<input type="text" class="form-control" ng-model="schoolwebsite" value="-">
									</div>
								</div>

						</div>
						<!-- End General Information -->
						
						<!-- Add Location -->
						<div class="add-listing-box add-location mrg-bot-25 padd-bot-30 padd-top-25">
							<div class="listing-box-header">
								<i class="ti-location-pin theme-cl"></i>
								<h3>Add Location</h3>
								<p>Write address information about your school Location</p>
							</div>
								<div class="row mrg-r-10 mrg-l-10">
									<div class="col-sm-6">
										<label>Address*</label>
										<input type="text" class="form-control" required ng-model="schooladdress">
									</div>
									
									<div class="col-sm-6">
										<label>Country*</label>
										<select data-placeholder="Choose Country" class="form-control chosen-select" tabindex="2" required ng-model="schoolcountry">
                                            <option disabled selected>Select</option>
                                            <option>Nigeria</option>
										</select>
									</div>
								</div>
						</div>
						<!-- End Add Location -->
						
						<!-- Full Information -->
						<div class="add-listing-box full-detail mrg-bot-25 padd-bot-30 padd-top-25">
							<div class="listing-box-header">
								<i class="ti-write theme-cl"></i>
								<h3>Full Details</h3>
								<p>Write full detailed information about your school</p>
							</div>
								<div class="row mrg-r-10 mrg-l-10">
									<div class="col-sm-6">
										<label>Email*</label>
										<input type="text" class="form-control" required ng-model="schoolemail">
									</div>
									<div class="col-sm-6">
										<label>Phone*</label>
										<input type="text" class="form-control" required ng-model="schoolphonenumber">
									</div>
									<div class="col-sm-12">
										<label>Description</label>
										<textarea class="h-100 form-control" ng-model="schooldescription"></textarea>
									</div>
								</div>
						</div>
						<!-- End Full Information -->
						
						<!-- Add Gallery Information -->
						<div class="add-listing-box full-detail mrg-bot-25 padd-bot-30 padd-top-25">
							<div class="listing-box-header">
								<i class="ti-gallery theme-cl"></i>
								<h3>Add Image</h3>
							</div>
							<div class="dropzone dz-clickable primary-dropzone">
								<div class="dz-default dz-message">
									<i class="ti-gallery"></i>
                                    <input ng-model="schoolimage" type="file" class="form-control" accept="image/*" ng-change="uploadFile(this)">
                                    <img ng-src="{{image_source}}" class="img-responsive" />
								</div>
							</div>
						</div>
						<!-- End Add Gallery Information -->
						
						<!-- Amenities Information -->
						<div class="add-listing-box amenities mrg-bot-25 padd-bot-30 padd-top-25">
							<div class="listing-box-header">
								<i class="ti-gift theme-cl"></i>
								<h3>Facilities</h3>
							</div>
								<div class="row mrg-r-10 mrg-l-10">
									<div class="col-sm-4">
										<span class="custom-checkbox d-block">
											<input type="checkbox" id="select1" ng-model="schoolfacilities1" />
											<label for="select1"></label>
											Science Laboratory
										</span>
										<span class="custom-checkbox d-block">
											<input type="checkbox" id="select2" ng-model="schoolfacilities2" />
											<label for="select2"></label>
											Football Field
										</span>
										<span class="custom-checkbox d-block">
											<input type="checkbox" id="select3" ng-model="schoolfacilities3" />
											<label for="select3"></label>
											Basketball Field
										</span>
									</div>
								</div>
						</div>
						<!-- End Amenities Information -->
						
						<!-- Opening Hours Information -->
						<div class="add-listing-box opening-day mrg-bot-25 padd-bot-30 padd-top-25">
							<div class="listing-box-header">
								<i class="ti-time theme-cl"></i>
								<h3>Opening Hours</h3>
							</div>
								<div class="row mrg-r-10 mrg-l-10">
									<div class="col-sm-12 mob-padd-0">
										<div class="form-group">
											<label class="control-label col-md-2">Monday-Friday</label>
											<div class="col-md-5">
												<select data-placeholder="Choose Time" name = "txtopen_time" class="form-control chosen-select" tabindex="2" ng-model="schoolopeningtime">
													<option disabled selected="selected">Opening Time</option>
													<option value="1: 00 AM">1 :00 AM</option>
													<option value="2 :00 AM">2 :00 AM</option>
													<option value="3 :00 AM">3 :00 AM</option>
													<option value="4 :00 AM">4 :00 AM</option>
													<option value="5 :00 AM">5 :00 AM</option>
													<option value="6 :00 AM">6 :00 AM</option>
													<option value="7 :00 AM">7 :00 AM</option>
													<option value="8 :00 AM">8 :00 AM</option>
													<option value="9 :00 AM">9 :00 AM</option>
													<option value="10 :00 AM">10 :00 AM</option>
													<option value="11 :00 AM">11 :00 AM</option>
													<option value="12 :00 AM">12 :00 AM</option>
													<option value="1 :00 PM">1 :00 PM</option>
													<option value="2 :00 PM">2 :00 PM</option>
													<option value="3 :00 PM">3 :00 PM</option>
													<option value="4 :00 PM">4 :00 PM</option>
													<option value="5 :00 PM">5 :00 PM</option>
													<option value="6 :00 PM">6 :00 PM</option>
													<option value="7 :00 PM">7 :00 PM</option>
													<option value="8 :00 PM">8 :00 PM</option>
													<option value="9 :00 PM">9 :00 PM</option>
													<option value="10 :00 PM">10 :00 PM</option>
													<option value="11 :00 PM">11 :00 PM</option>
													<option value="12 :00 PM">12 :00 PM</option>
													<option value="Closed">Closed</option>
												</select>
											</div>
											<div class="col-md-5">
												<select data-placeholder="Choose Time" name="txtclose_time" class="form-control chosen-select" tabindex="2" ng-model="schoolclosingtime">
                                                    <option disabled selected="selected">Closing Time</option>
                                                    <option value="1: 00 AM">1 :00 AM</option>
                                                    <option value="2 :00 AM">2 :00 AM</option>
                                                    <option value="3 :00 AM">3 :00 AM</option>
                                                    <option value="4 :00 AM">4 :00 AM</option>
                                                    <option value="5 :00 AM">5 :00 AM</option>
                                                    <option value="6 :00 AM">6 :00 AM</option>
                                                    <option value="7 :00 AM">7 :00 AM</option>
                                                    <option value="8 :00 AM">8 :00 AM</option>
                                                    <option value="9 :00 AM">9 :00 AM</option>
                                                    <option value="10 :00 AM">10 :00 AM</option>
                                                    <option value="11 :00 AM">11 :00 AM</option>
                                                    <option value="12 :00 AM">12 :00 AM</option>
                                                    <option value="1 :00 PM">1 :00 PM</option>
                                                    <option value="2 :00 PM">2 :00 PM</option>
                                                    <option value="3 :00 PM">3 :00 PM</option>
                                                    <option value="4 :00 PM">4 :00 PM</option>
                                                    <option value="5 :00 PM">5 :00 PM</option>
                                                    <option value="6 :00 PM">6 :00 PM</option>
                                                    <option value="7 :00 PM">7 :00 PM</option>
                                                    <option value="8 :00 PM">8 :00 PM</option>
                                                    <option value="9 :00 PM">9 :00 PM</option>
                                                    <option value="10 :00 PM">10 :00 PM</option>
                                                    <option value="11 :00 PM">11 :00 PM</option>
                                                    <option value="12 :00 PM">12 :00 PM</option>
                                                    <option value="Closed">Closed</option>
												</select>
											</div>
										</div>
									</div>
								</div>
						</div>
						<!-- End Opening Hours Information -->
						<div class="text-center">
							<button class="btn theme-btn" title="Submit Listing">Submit School</button>
						</div>
                        </form>
					</div>
				</div>
			</section>
        </div>
			<!-- ================ End Add Listing Section ======================= -->