<div ng-controller="singleSchoolController">
<!-- ================ School Listing Detail Basic Information ======================= -->
			<section class="detail-section" style="background:url({{singleSchool[0][5]}});">
				<div class="overlay" style="background-color: rgb(36, 36, 41); opacity: 0.5;"></div>
				<div class="profile-cover-content">
					<div class="container">
						<div class="cover-buttons">
							<ul>
							<!-- =====School Basic Details ====== -->	
							<li><div class="buttons medium button-plain "><i class="fa fa-phone"></i>{{singleSchool[0][6]}}</div></li>
							<li><div class="buttons medium button-plain "><i class="fa fa-map-marker"></i>{{singleSchool[0][3]+", "+singleSchool[0][4]}}</div></li>
							<li><div class="inside-rating buttons listing-rating theme-btn button-plain"><span class="value">{{singleSchool[0][9]+" reviews"}}</span></div></li>
							<li><a class="buttons btn-outlined medium add-review"><i class="fa fa-comments-o"></i><span class="hidden-xs">Add review</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- ================ End School Listing Detail Basic Information ======================= -->
			
			<!-- ================ School Listing Detail Full Information ======================= -->
			<section class="list-detail">
				<div class="container">
					<div class="row">
						<!-- Start: Listing Detail Wrapper -->
						<div class="col-md-8 col-sm-8">
							<div class="detail-wrapper">
								<div class="detail-wrapper-body">
									<div class="listing-title-bar">
										<h3>{{singleSchool[0][1]}} <span class="mrg-l-5 category-tag">{{singleSchool[0][3]+", "+singleSchool[0][4]}}</span></h3>
										<div>
											<a href="#listing-location" class="listing-address">
												<i class="ti-location-pin mrg-r-5"></i>
                                                {{singleSchool[0][3]+", "+singleSchool[0][4]}}
											</a>
											
											<div class="rating-box">
												<div class="detail-list-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<a href="#" class="detail-rating-count">{{singleSchool[0][9]}} Average Rating</a>
											</div>
										</div>
									</div>
								</div>
							</div>	
							
							<div class="detail-wrapper">
								<div class="detail-wrapper-header">
									<h4>Description</h4>
								</div>
								<div class="detail-wrapper-body">
									<p>{{singleSchool[0][10]}}</p>
								</div>
							</div>
							
							<div class="detail-wrapper">
								<div class="detail-wrapper-header">
									<h4>{{singleSchool[0][8]}} Reviews</h4>
								</div>
								<div class="detail-wrapper-body">
									<ul class="review-list">
										<li>
											<div class="reviews-box">
												<div class="review-body">
													<div class="review-avatar">
														<img alt="" src="assets/img/user-1.png" class="avatar avatar-140 photo">
													</div>
													<div class="review-content">
														<div class="review-info">
															<div class="review-comment">
																<div class="review-author">
																	Anonymous
																</div>
																<div class="review-comment-stars">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star empty"></i>
																</div>
															</div>
															<div class="review-comment-date">
																<div class="review-date">
																	<span>4 weeks ago</span>
																</div>
															</div>
														</div>
														<p>At Vero Eos Et Accusamus Et Iusto Odio Dignissimos Ducimus Qui Blanditiis Praesentium Voluptatum Deleniti Atque Corrupti Quos Dolores Et Quas Molestias Excepturi Sint Occaecati Cupiditate Non Provident.</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							
							<div id="add-review" class="detail-wrapper" ng-controller="reviewController as reviewCtrl">
								<div class="detail-wrapper-header">
									<h4>Rate & Write Reviews</h4>
								</div>
								<form ng-submit="reviewCtrl.addReview()">
								<div class="detail-wrapper-body">
                                    <select data-placeholder="Choose Review Topic" class="form-control chosen-select" tabindex="2" required ng-model="schoolreviewtype">
                                        <option value="">Select Review Topic</option>
                                        <option ng-repeat="type in reviewTypes" value="{{type[0]}}">
                                            {{type[1]}}
                                        </option>
                                    </select>
									<div class="row">
										<div class="col-sm-12">
											<textarea class="form-control height-110" placeholder="Tell us your experience..." required ng-model="schoolreviewdescription"></textarea>
										</div>
									</div>
									<div class="row mrg-bot-10">
										<div class="col-md-12">
											<div class="rating">
												<label>
													<input type="radio" name="stars" value="1" ng-model="reviewstars"/>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="2" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="3" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="4" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
												<label>
													<input type="radio" name="stars" value="5" ng-model="reviewstars"/>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
													<span class="icon">★</span>
												</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<button type="submit" class="btn theme-btn">Submit your review</button>
										</div>
									</div>
								</div>
							</form>
							</div>
						</div>
						<!-- End: Listing Detail Wrapper -->
						
						<!-- Sidebar Start -->
						<div class="col-md-4 col-sm-12">
							<div class="sidebar">
								<!-- Start: Opening hour -->
								<div class="widget-boxed">
									<div class="widget-boxed-header">
										<h4><i class="ti-time padd-r-10"></i>Opening Hours</h4>
									</div>
									<div class="widget-boxed-body">
										<div class="side-list">
											<ul>
												<li>Monday <span>{{singleSchool[0][11]}} - {{singleSchool[0][12]}}</span></li>
												<li>Tuesday <span>{{singleSchool[0][11]}} - {{singleSchool[0][12]}}</span></li>
												<li>Wednesday <span>{{singleSchool[0][11]}} - {{singleSchool[0][12]}}</span></li>
												<li>Thursday <span>{{singleSchool[0][11]}} - {{singleSchool[0][12]}}</span></li>
												<li>Friday <span>{{singleSchool[0][11]}} - {{singleSchool[0][12]}}</span></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End: Opening hour -->
								<!-- Start: Listing Category -->
								<div class="widget-boxed">
									<div class="widget-boxed-header">
										<h4><i class="ti-briefcase padd-r-10"></i>Topics</h4>
									</div>
									<div class="widget-boxed-body padd-top-10 padd-bot-0">
										<div class="side-list">
											<ul class="category-list">
												<li><a>Facility<span class="badge bg-g">0</span></a></li>
												<li><a>Academic Perfomance<span class="badge bg-a">0</span></a></li>
												<li><a>Quality of Teachers<span class="badge bg-d">0</span></a></li>
												<li><a>Learning Environment<span class="badge bg-l">0</span></a></li>
                                                <li><a>General<span class="badge bg-l">0</span></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End: Listing Category -->
								
								<!-- Start: Listing Location -->
								<div class="widget-boxed">
									<div class="widget-boxed-header">
										<h4><i class="ti-location-pin padd-r-10"></i>Location</h4>
									</div>
									<div class="widget-boxed-body">
										<div class="side-list no-border">
											<ul>
												<li><i class="ti-location-pin padd-r-10"></i>{{singleSchool[0][3]+", "+singleSchool[0][4]}}</li>
												<li><i class="ti-mobile padd-r-10"></i>{{singleSchool[0][6]}}</li>
												<li><i class="ti-email padd-r-10"></i>{{singleSchool[0][2]}}</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End: Listing Location -->
							</div>
						</div>
					    <!-- End: Sidebar Start -->
					</div>
				</div>
			</section>
			<!-- ================ Listing Detail Full Information ======================= -->
</div>