<!-- ================ Start Page Title ======================= -->
<div ng-controller="schoolController">
<section class="title-transparent page-title" style="background:url(assets/img/title-bg.jpg);">
	<div class="container">
		<div class="title-content">
			<h1>Search School</h1>
			<div class="breadcrumbs">
				<a href="#!/home">Home</a>
				<span class="gt3_breadcrumb_divider"></span>
				<span class="current">Search</span>
			</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<!-- ================ Search Bar Style ======================= -->
			<section class="padd-top-0 padd-bot-0">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="white-box white-shadow padd-top-30 padd-bot-30 translateY-60">
								<h3 class="text-center">Search For Schools</h3>
								<form class="form-verticle">
									<div class="col-md-12 col-sm-12 no-padd">
										<input type="text" class="form-control left-radius" placeholder="Keywords.." ng-model="keyword">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ================ End Search Bar Style ======================= -->
			
			<!-- ================ Full Width Grid Style ======================= -->
			<section class="padd-top-20">
				<div class="container">
					<div class="row mrg-bot-20">
						<div class="col-md-6">
							<h5>All Schools</h5>
						</div>
						<div class="col-md-6">
							<div class="layout-option pull-right">
								<a href="#" class="active" title="Grid Layout"><i class="ti-layout-grid3"></i></a>
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-6" ng-repeat="school in allschools | filter:keyword">
								<div class="listing-shot grid-style">
									<div ng-show="school[7]==1" class="listing-badge now-open">Verified</div>
									<a href="{{'#!/schoolDetails/'+school[0]}}">
										<div class="listing-shot-img">
											<img ng-src="{{school[5]}}" class="img-responsive" alt="">
											<span ng-show="school[7]==1" class="approve-listing"><i class="fa fa-check"></i></span>
											<span class="like-listing"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
										</div>
										<div class="listing-shot-caption">
											<h4>{{school[1]}}</h4>
											<p class="listing-location">{{school[3]+", "+school[4]}}</p>
										</div>
									</a>
									<div class="listing-shot-info">
										<div class="row extra">
											<div class="col-md-12">
												<div class="listing-detail-info">
													<span><i class="fa fa-phone" aria-hidden="true"></i>{{school[6]}}</span>
													<span><i class="fa fa-globe" aria-hidden="true"></i>{{school[2]}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="listing-shot-info rating">
										<div class="row extra">
											<div class="col-md-7 col-sm-7 col-xs-6">
												<span ng-repeat="n in [1,2,3,4,5]">
											<i ng-if="school[13] > n || school[13] == n" class="color fa fa-star" aria-hidden="true"></i>
											<i ng-if="school[13] > n-1 && school[13] < n" class="color fa fa-star-half-o" aria-hidden="true"></i>
											<i ng-if="school[13] < n" class="fa fa-star" aria-hidden="true"></i>
											</span>
											</div>
											<div class="col-md-5 col-sm-5 col-xs-6 pull-right">
												<a href="{{'#!/schoolDetails/'+school[0]}}" class="detail-link">Rate Now</a>
											</div>
										</div>
									</div>
								</div>
								</div>
					</div>
					<!-- Start Pagination -->
					<div class="row">
						<div class="col-md-12">
							<div class="bs-example">
								<ul class="pagination">
									<li><a href="#">&laquo;</a></li>
<!--								<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>-->
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Pagination -->
				</div>
			</section>
</div>
			<!-- ================ Full Width Grid Style ======================= -->